<block-ui>
  <div class="box box-primary">
    <div class="box-body">
      <div class="row mb-4" *ngIf="currentActive === 'DISABLED'">
        <div class="col">
          <div class="card border-0 box-shadow" widget="">
            <div class="card-header transparent border-0 text-muted">
              <h5 class="mb-0">Access Denied</h5>
            </div>
            <div class="card-block pt-0 widget-body">
              <div class="row">
                <div class="col-xl-12">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> You Do not have access to this page.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div widget class="card border-0 box-shadow" *ngIf="currentActive === 'ENABLED'">
        <div id="cccform" class="container">
          <div class="row form-heading">
            <div class="col-md-1"></div>
            <h4 class="col-md-11">Updating Store</h4>
          </div>
          <hr>
          <div class="row">


            <div class="col-md-1"></div>

            <form [formGroup]="storeFormEdit" (ngSubmit)="onEditSubmit(storeFormEdit)"
              class="col-md-11 form-horizontal">

              <ngb-tabset>
                <ngb-tab title="Basic Details">
                  <ng-template ngbTabContent>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"><span class="float-right"> Partner:
                        </span></label>
                      <div class="col-sm-7">
                        <select formControlName="storePartner" class="form-control validation-field">
                          <option value="">Select Partner</option>
                          <option *ngFor="let o of PartnerOptions" [ngValue]="o.id">{{o.name}}</option>
                        </select>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storePartner').touched && storeFormEdit.get('storePartner').hasError('required')">Partner
                          is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"><span class="float-right"> Name: </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeName" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeName.errors }"
                          placeholder="enter store name" />

                        <div *ngIf="submitted && f.storeName.errors" class="invalid-feedback">
                          <div *ngIf="f.storeName.errors.required">Name is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeName').touched && storeFormEdit.get('storeName').hasError('required')">Store
                          Name is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeName').touched && storeFormEdit.get('storeName').hasError('pattern')">Invalid
                          Store Name </small>

                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Store identifier
                          (from Core): </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeSourceid" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeSourceid.errors }"
                          placeholder="store identifier as in core app" />
                        <div *ngIf="submitted && f.storeSourceid.errors" class="invalid-feedback">
                          <div *ngIf="f.storeSourceid.errors.required">Store Id is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeSourceid').touched && storeFormEdit.get('storeSourceid').hasError('required')">Source
                          Id is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Store Code:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeCode" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeCode.errors }" placeholder="store code" />
                        <div *ngIf="submitted && f.storeCode.errors" class="invalid-feedback">
                          <div *ngIf="f.storeCode.errors.required">Location is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeCode').touched && storeFormEdit.get('storeCode').hasError('required')">Store
                          Code is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Disburse email:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeDisburseEmail" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeDisburseEmail.errors }"
                          placeholder="disburse email" />
                        <div *ngIf="submitted && f.storeDisburseEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.storeDisburseEmail.errors.required">Disburse email is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeDisburseEmail').touched && storeFormEdit.get('storeDisburseEmail').hasError('required')">Disburse
                          Email is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Disburse email CC1:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeDisburseEmail1" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeDisburseEmail1.errors }"
                          placeholder="disburse email cc 1" />
                        <div *ngIf="submitted && f.storeDisburseEmail1.errors" class="invalid-feedback">
                          <div *ngIf="f.storeDisburseEmail1.errors.required">Disburse email cc1 is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeDisburseEmail1').touched && storeFormEdit.get('storeDisburseEmail1').hasError('required')">Disburse
                          Email CC1 is required</small>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Disburse email CC2:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeDisburseEmail2" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeDisburseEmail2.errors }"
                          placeholder="disburse email cc 2" />
                        <div *ngIf="submitted && f.storeDisburseEmail2.errors" class="invalid-feedback">
                          <div *ngIf="f.storeDisburseEmail2.errors.required">Disburse email cc2 is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeDisburseEmail2').touched && storeFormEdit.get('storeDisburseEmail2').hasError('required')">Disburse
                          Email CC2 is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Region:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeLocation" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeLocation.errors }"
                          placeholder="store region" />
                        <div *ngIf="submitted && f.storeLocation.errors" class="invalid-feedback">
                          <div *ngIf="f.storeLocation.errors.required">Location is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeLocation').touched && storeFormEdit.get('storeLocation').hasError('required')">Location
                          is required</small>
                      </div>
                    </div>


                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> City:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="city" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="city" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('city').touched && storeFormEdit.get('city').hasError('required')">City
                          is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Store Target:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeTarget" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeTarget.errors }" placeholder="store target" />
                        <div *ngIf="submitted && f.storeTarget.errors" class="invalid-feedback">
                          <div *ngIf="f.storeTarget.errors.required">Location is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeTarget').touched && storeFormEdit.get('storeTarget').hasError('required')">Target
                          is required</small>
                      </div>
                    </div>


                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Number of Employees:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="number" formControlName="numberOfEmployees" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.numberOfEmployees.errors }"
                          placeholder="number of employees" />
                        <div *ngIf="submitted && f.numberOfEmployees.errors" class="invalid-feedback">
                          <div *ngIf="f.numberOfEmployees.errors.required">Location is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('numberOfEmployees').touched && storeFormEdit.get('numberOfEmployees').hasError('required')">Number
                          of Employees
                          is required</small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Monthly Revenue:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="number" formControlName="monthlyRevenue" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.monthlyRevenue.errors }"
                          placeholder="monthly revenue" />
                        <div *ngIf="submitted && f.monthlyRevenue.errors" class="invalid-feedback">
                          <div *ngIf="f.monthlyRevenue.errors.required">Monthly Revenue is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('monthlyRevenue').touched && storeFormEdit.get('monthlyRevenue').hasError('required')">Monthly
                          Revenue
                          is required
                        </small>
                      </div>
                    </div>

                  </ng-template>
                </ngb-tab>

                <!--Contact details-->
                <ngb-tab title="Contact Details">

                  <ng-template ngbTabContent>
                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"><span class="float-right"> Store Manager:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeManager" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeManager.errors }"
                          placeholder="store manager name" />

                        <div *ngIf="submitted && f.storeManager.errors" class="invalid-feedback">
                          <div *ngIf="f.storeManager.errors.required">Name is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManager').touched && storeFormEdit.get('storeManager').hasError('required')">Store
                          Manager is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManager').touched && storeFormEdit.get('storeManager').hasError('pattern')">Invalid
                          Store Manager Name </small>

                      </div>
                    </div>



                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Manager Mobile:
                        </span> </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeManagerMobile" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeManagerMobile.errors }"
                          placeholder="manager phone number 2547......." />
                        <div *ngIf="submitted && f.storeManagerMobile.errors" class="invalid-feedback">
                          <div *ngIf="f.storeManagerMobile.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManagerMobile').touched && storeFormEdit.get('storeManagerMobile').hasError('required')">Manager
                          Mobile is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManagerMobile').touched && storeFormEdit.get('storeManagerMobile').hasError('pattern')">Invalid
                          Mobile Number </small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Email:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeManagerEmail" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeManagerEmail.errors }"
                          placeholder="manager email address" />
                        <div *ngIf="submitted && f.storeManagerEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.storeManagerEmail.errors.required">Manager Email is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManagerEmail').touched && storeFormEdit.get('storeManagerEmail').hasError('required')">Manager
                          Email is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeManagerEmail').touched && storeFormEdit.get('storeManagerEmail').hasError('email')">Invalid
                          email address</small>
                      </div>
                    </div>


                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"><span class="float-right"> Store Contact Person:
                        </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeContact" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeContact.errors }" placeholder="contact name" />

                        <div *ngIf="submitted && f.storeContact.errors" class="invalid-feedback">
                          <div *ngIf="f.storeContact.errors.required">Name is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContact').touched && storeFormEdit.get('storeContact').hasError('required')">Contact
                          person is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContact').touched && storeFormEdit.get('storeContact').hasError('pattern')">Invalid
                          contact person Name </small>

                      </div>
                    </div>


                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Contact Person
                          Mobile: </span> </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeContactMobile" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeContactMobile.errors }"
                          placeholder="contact person phone number 2547......." />
                        <div *ngIf="submitted && f.storeContactMobile.errors" class="invalid-feedback">
                          <div *ngIf="f.storeContactMobile.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContactMobile').touched && storeFormEdit.get('storeContactMobile').hasError('required')">Contact
                          Person Mobile is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContactMobile').touched && storeFormEdit.get('storeContactMobile').hasError('pattern')">Invalid
                          Mobile Number </small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Contact Person
                          Email: </span></label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeContactEmail" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeContactEmail.errors }"
                          placeholder="contact person email address" />
                        <div *ngIf="submitted && f.storeContactEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.storeContactEmail.errors.required">Contact Person Email is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContactEmail').touched && storeFormEdit.get('storeContactEmail').hasError('required')">Contact
                          Person Email is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeContactEmail').touched && storeFormEdit.get('storeContactEmail').hasError('email')">Invalid
                          contact person email address</small>
                      </div>
                    </div>

                    <!--<div class="row form-group">
                          <label class="control-label col-sm-3" for="title"> <span class="float-right"> Contact Person Email: </span></label>
                          <div class="col-sm-7">
                            <input type="text" formControlName="storeContactEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.storeContactEmail.errors }" placeholder="enter the contact email address"/>
                            <div *ngIf="submitted && f.storeContactEmail.errors" class="invalid-feedback">
                              <div *ngIf="f.storeContactEmail.errors.required">Manager Email is required</div>
                            </div>
                            <small class="text-danger" *ngIf="storeFormEdit.get('storeContactEmail').touched && storeFormEdit.get('storeContactEmail').hasError('required')">Contact Email is required</small>
                            <small class="text-danger" *ngIf="storeFormEdit.get('storeContactEmail').touched && storeFormEdit.get('storeContactEmail').hasError('email')">Invalid contact email address</small>
                          </div>
                      </div>-->


                  </ng-template>
                </ngb-tab>
                <!--End of Contact Details-->


                <!--Bank Details-->

                <ngb-tab title="Payment Details">
                  <ng-template ngbTabContent>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Bank: </span>
                      </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeBank" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeBank.errors }" placeholder="bank name" />
                        <div *ngIf="submitted && f.storeBank.errors" class="invalid-feedback">
                          <div *ngIf="f.storeBank.errors.required">Contact Person Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBank').touched && storeFormEdit.get('storeBank').hasError('required')">Bank
                          Name is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBank').touched && storeFormEdit.get('storeBank').hasError('pattern')">Invalid
                          Bank Name </small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Bank Account Number:
                        </span> </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeBankAccount" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeBankAccount.errors }"
                          placeholder="bank account name" />
                        <div *ngIf="submitted && f.storeBankAccount.errors" class="invalid-feedback">
                          <div *ngIf="f.storeBankAccount.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankAccount').touched && storeFormEdit.get('storeBankAccount').hasError('required')">Bank
                          Account Number is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankAccount').touched && storeFormEdit.get('storeBankAccount').hasError('pattern')">Invalid
                          Account Number </small>
                      </div>
                    </div>


                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Bank Account Name:
                        </span> </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeBankAccountName" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeBankAccountName.errors }"
                          placeholder="contact phone number 2547......." />
                        <div *ngIf="submitted && f.storeBankAccountName.errors" class="invalid-feedback">
                          <div *ngIf="f.storeBankAccountName.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankAccountName').touched && storeFormEdit.get('storeBankAccountName').hasError('required')">Bank
                          Account Name is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankAccountName').touched && storeFormEdit.get('storeBankAccountName').hasError('pattern')">Invalid
                          Bank Account Name </small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> Bank Branch: </span>
                      </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeBankBranch" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeBankBranch.errors }"
                          placeholder="bank branch" />
                        <div *ngIf="submitted && f.storeBankBranch.errors" class="invalid-feedback">
                          <div *ngIf="f.storeBankBranch.errors.required">Bank branch is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankBranch').touched && storeFormEdit.get('storeBankBranch').hasError('required')">Bank
                          Branch is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeBankBranch').touched && storeFormEdit.get('storeBankAccountName').hasError('pattern')">Invalid
                          Bank Branch Name </small>
                      </div>
                    </div>




                    <!--End of Bank Details-->

                    <!--Mpesa Details-->

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> M-pesa Till Number:
                        </span>
                      </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeMpesaTillNumber" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeMpesaTillNumber.errors }"
                          placeholder="mpesa till number" />
                        <div *ngIf="submitted && f.storeMpesaTillNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.storeMpesaTillNumber.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeMpesaTillNumber').touched && storeFormEdit.get('storeMpesaTillNumber').hasError('required')">Mpesa
                          Till Number is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeMpesaTillNumber').touched && storeFormEdit.get('storeMpesaTillNumber').hasError('pattern')">Invalid
                          Mpesa Till Number </small>
                      </div>
                    </div>

                    <div class="row form-group">
                      <label class="control-label col-sm-3" for="title"> <span class="float-right"> M-pesa PayBill
                          Number:
                        </span> </label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="storeMpesaPaybillNumber" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.storeMpesaPaybillNumber.errors }"
                          placeholder="mpesa till number" />
                        <div *ngIf="submitted && f.storeMpesaPaybillNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.storeMpesaPaybillNumber.errors.required">Mobile is required</div>
                        </div>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeMpesaPaybillNumber').touched && storeFormEdit.get('storeMpesaPaybillNumber').hasError('required')">Mobile
                          is required</small>
                        <small class="text-danger"
                          *ngIf="storeFormEdit.get('storeMpesaPaybillNumber').touched && storeFormEdit.get('storeMpesaPaybillNumber').hasError('pattern')">Invalid
                          Mpesa Paybill Number </small>
                      </div>
                    </div>
                    <!--End of Mpesa Details-->

                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <div class="row form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                  <div class="float-right ">
                    <button class="btn btn-danger " type="cancel" style="margin-right: 10px;
      min-width: 100px;" routerLink="/stores/">Cancel</button>
                    <button [disabled]="storeFormEdit.invalid" class="btn btn-success " type="submit"
                      style="min-width: 100px;">Submit</button>
                  </div>
                </div>
              </div>



            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</block-ui>
