<block-ui>

  <body class="forgotpass-body" style="background-image: url('./assets/images/login-background.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="login-panel panel panel-default" style="border-color: #0d98ba;">
            <div class="panel-heading" con>
              <img src="./assets/images/LogoLogin.jpg" alt="Forgot Password Image">

            </div>
            <div class="panel-body">

              <h3 style="text-align: center">Change Password</h3>
              <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit(form)" class="text-left mt-4">
                <fieldset>
                  <div class="form-group">

                    <div class="group">
                      <input type="password" formControlName="password" placeholder="New Password" /><span
                        class="highlight"></span><span class="bar"></span>
                    </div>

                    <!--<label>Password</label>
                    <input formControlName="password" class="form-control validation-field" placeholder="New Password"
                      type="password"> -->
                    <password-strength-meter [password]="password.value" [enableFeedback]="true"
                      (strengthChange)="onPasswordStrengthChanged($event)"></password-strength-meter>
                    <!--   <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters,
                    or emoji.
                  </small> -->
                    <blockquote class="card-bodyquote" style="">
                      <div>
                        Your password must be 8-20 characters long, contain letters and numbers,and must not contain
                        spaces, special characters,
                        or emoji.
                      </div>
                    </blockquote>
                    <div class="invalid-feedback">
                      Please provide a valid Password.
                    </div>


                  </div>
                  <div class="form-group">
                    <!--<label>Confirm New Password</label>-->
                    <div class="group">
                      <input formControlName="passwordRepeat" placeholder="Confirm Password" type="password"><span
                        class="highlight"></span><span class="bar"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <!--<label>Confirm New Password</label>-->
                    <div class="group">
                      <small class="text-danger"
                        *ngIf="form.get('passwordRepeat').touched && form.get('passwordRepeat').hasError('required')">Confirm
                        Confirm Password is required</small>
                      <small class="text-danger"
                        *ngIf="form.get('passwordRepeat').touched && form.get('passwordRepeat').hasError('mismatchedPasswords')">Passwords
                        do not match</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <button [disabled]="form.invalid" class="btn btn-block btn-primary" type="submit">Change
                      Password</button>
                  </div>

                </fieldset>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</block-ui>
