<div class="box box-primary">
	<div class="panel-heading panel-primary row">
		<h2 class="panel-title col-sm-10 col-sm-offset-2"></h2>
	</div>
	<div class="box-body">
		<span id="responseText"></span>
		<div id ="cccform">
			<form class="form-horizontal"  name="cccform" onsubmit="return sendData();" role="form" method="POST" title=""	enctype="multipart/form-data" style="display: block;">
				<div class="row form-group">
					<label class="control-label col-sm-3" for="title">Customer Id Number:</label>
					<div class="col-sm-4">
						<input type="text" name="idnumber" id="idnumber" class="form-control required"  maxlength="255" placeholder="enter customer id number">
					</div>
					<div class="col-sm-2">
						<button type="button" name="request" value="Request" onclick="requestCollectionCode()" class="btn-primary btn-sm btn-info ">Request Code</button>
					</div>
				</div>

				<div class="row form-group untilCodeisReceived ccc" style="display: none">
					<label class="control-label col-sm-3" for="title">Collection Code:</label>
					<div class="col-sm-4" title="enter customer collection code received on customer's phone">
						<input type="text" name="ccc" id="ccc" class="form-control required"  maxlength="255" placeholder="enter customer collection code received on customer's phone">
					</div>
					<div class="col-sm-2">
						<button type="button" name="request" value="Confirm" onclick="confirmCollectionCode()" class="btn-primary btn-sm btn-info ">Confirm Code</button>
					</div>
				</div>

				<div class="row form-group untilCodeisReceived response" style="display: none">
					<label class="control-label col-sm-3" for="description">Confirmation Response:</label>
					<div class="col-sm-4">
						<span id="confirmation_response"></span>
					</div>
					</div>

					<div class="row form-group untilCodeisReceived" style="display: none" >
						<label class="control-label col-sm-3" for="DOB">Customer:</label>
						<div class="col-sm-4">
							<span id="confirmation_customer"></span> 
						</div>
				</div>
				<div class="row form-group untilCodeisReceived" style="display: none" >
					<label class="control-label col-sm-3" for="DOB">Item(s):</label>
					<div class="col-sm-4">
						<span id="confirmation_item"></span>
					</div>
				</div>

				<div class="row form-group untilCodeisReceived" style="display: none" >
					<label class="control-label col-sm-3" for="DOB">Approved Amount:</label>
					<div class="col-sm-4">
						<span id="confirmation_approvedamount"></span>
					</div>
				</div>

				<div class="row form-group untilCodeisReceived" style="display: none">
					<label class="control-label col-sm-3" for="title">Item identification:</label>
					<div class="col-sm-4">
						<input type="text" name="itemid" id="itemid" class="form-control required"  maxlength="255" placeholder="enter item id/serial number">
					</div>                                        
				</div>

				<div class="row form-group untilCodeisReceived" style="display: none">
					<label class="control-label col-sm-3" for="title">Dispatch Notes:</label>
					<div class="col-sm-4">
						<textarea name="notes" id="notes" class="form-control required"  maxlength="255" placeholder="enter dispatch notes"></textarea> 
					</div>

				</div>

				<div class="row form-group untilCodeisReceived" style="display: none">
					<label class="control-label col-sm-3" for="email"></label>
					<div class="col-sm-7">

						<input type="button" onclick="sendData()" value="Save" class="btn-primary btn-sm btn-success ">
						<button type="button" name="cancel" value="Cancel" onclick="closeForm()" class="btn-primary btn-sm btn-danger ">Cancel</button>
					<input type="hidden" name="cell" />
					</div>
				</div>

				<div class="row form-group ">
					<label class="control-label col-sm-3" for="email">Sample Results</label>
					<div class="col-sm-7">                                       
						<input type="button" onclick="toggleValid('3HGRET4BB')" value="Valid" class="btn-sm btn-success ">
						<button type="button" name="cancel" value="Cancel" onclick="toggleInvalid()" class="btn-sm btn-danger ">Invalid</button>
						<input type="hidden" name="cell" />
					</div>
				</div>
			
			</form>
		</div>
	</div>
</div>