<block-ui>
  <div class="row">
    <div class="col-sm-2 onboarding-menu">
      <div class="box box-primary">
        <div class="box-body">

          <nav id="sidebar">
            <div class="sidebar-header"> Pick Up Menu
            </div>
            <div class="container demo d-none d-md-block"></div>
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="create">
                  Customer Pickup
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="lipalater">Lipalater Pickup
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="pending">Pending Items </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>

</block-ui>
