<block-ui>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="login-panel panel panel-default" style="border-color: #0d98ba;">
          <div class="panel-heading" con>
            <img src="./assets/logo.png" alt="Login Image">

          </div>
          <div class="panel-body" *ngIf="!fsubmitted && !fsubmittedwitherrors">

            <h3>Change Password</h3>
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit(form)" class="text-left mt-4">
              <fieldset>
                <div class="form-group">
                  <label>Email</label>
                  <input formControlName="userName" class="form-control validation-field" placeholder="User Name"
                    type="text">
                  <small class="text-danger"
                    *ngIf="form.get('userName').touched && form.get('userName').hasError('required')">Username is
                    required</small>
                </div>

                <div class="form-group">
                  <label for="inputContacts">Security Question</label>
                  <select formControlName="securityQuestion" class="form-control validation-field">
                    <option *ngFor="let o of securityQuestionsList" [ngValue]="o.id">{{o.question}}</option>
                  </select>
                  <small class="text-danger"
                    *ngIf="form.get('securityQuestion').touched && form.get('securityQuestion').hasError('required')">Security
                    Question is required</small>
                </div>
                <div class="form-group">
                  <label>Security Question Answer</label>
                  <input formControlName="securityQuestionAnswer" class="form-control validation-field"
                    placeholder="Answer" type="text">
                  <small class="text-danger"
                    *ngIf="form.get('securityQuestionAnswer').touched && form.get('securityQuestionAnswer').hasError('required')">Security
                    Question Answer is required</small>
                </div>

                <div class="form-group">
                  <button [disabled]="!form.valid" class="btn btn-block btn-primary" type="submit">Change
                    Password</button>
                </div>
              </fieldset>
            </form>
          </div>

          <div class="panel-body" *ngIf="fsubmittedwitherrors">

            <h3>Change Password</h3>

            <div class="alert alert-md alert-danger">
              We could not find a user with search credentials. You can try again.

            </div>
            <div class="form-group">
              <button class="btn btn-link" (click)="forgotPass" style="margin-bottom:10px; cursor: pointer;">
                Back </button>
              <a routerLink="" class="btn btn-link" (click)="login()"
                style="margin-bottom:10px; cursor: pointer;">Login</a>


            </div>
          </div>
          <div class="panel-body" *ngIf="fsubmitted">

            <h3>Change Password</h3>

            <div class="alert alert-md alert-success">
              The Request has been submitted successfully. You will receive an email notification with
              instructions on
              how to proceed.

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</block-ui>
