<block-ui>

  <body class="forgotpass-body" style="background-image: url('./assets/images/login-background.jpg')">

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="login-panel panel panel-default" style="border-color: #0d98ba;">
            <div class="panel-heading" con>
              <img src="./assets/images/LogoLogin.jpg" alt="Forgot Password Image">

            </div>
            <div class="panel-body" *ngIf="!fsubmitted && !fsubmittedwitherrors">

              <h3 style="text-align: center">Forgot Password</h3>
              <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit(form)" class="text-left mt-4">
                <fieldset>
                  <p>
                    We will send you a verification code on your registered mobile number
                  </p>


                  <div class="form-group">

                    <div class="group">
                      <input type="text" formControlName="userName" placeholder="Email" /><span
                        class="highlight"></span><span class="bar"></span>
                    </div>


                  </div>

                  <!-- <label> Email</label>

                    <input formControlName="userName" class="form-control validation-field" placeholder="Email Address"
                      type="text">
                    <small class="text-danger"
                      *ngIf="form.get('userName').touched && form.get('userName').hasError('required')">Username is
                      required</small> -->


                  <p *ngIf="rsubmitted">
                    A verification code has been sent to {{userMobileNumber}}. Input it below to complete the forgot
                    password request.
                  </p>

                  <div class="form-group" *ngIf="!rsubmitted">
                    <button class="btn btn-block btn-primary" (click)="getVerificationCode(form)">Get Code</button>
                  </div>
                  <div class="form-group" *ngIf="rsubmitted">

                    <div class="group">
                      <input type="text" formControlName="forgotPasswordCode" placeholder="Verification Code" /><span
                        class="highlight"></span><span class="bar"></span>
                    </div>




                  </div>

                  <div class="form-group" *ngIf="rsubmitted">
                    <button [disabled]="!form.valid" class="btn btn-block btn-primary" type="submit">Change
                      Password</button>
                  </div>
                </fieldset>
              </form>
            </div>

            <div class="panel-body" *ngIf="fsubmittedwitherrors">

              <h3>Forgot Password</h3>

              <div class="alert alert-md alert-danger">
                We could not find a user with search credentials. You can try again.

              </div>
              <div class="form-group">
                <button class="btn btn-link" (click)="forgotPass" style="margin-bottom:10px; cursor: pointer;">
                  Back </button>
                <a routerLink="" class="btn btn-link" (click)="login()"
                  style="margin-bottom:10px; cursor: pointer;">Login</a>


              </div>
            </div>
            <div class="panel-body" *ngIf="fsubmitted">

              <h3>Forgot Password</h3>

              <div class="alert alert-md alert-success">
                The Request has been submitted successfully. You will receive an email notification with
                instructions on
                how to proceed.

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</block-ui>
