<block-ui>
  <div class="box box-primary">
    <div class="box-body">



      <div class="widget-controls row">
        <div class="col-sm-6">
          <a class="btn btn-info btn-md mb-1" routerLink="create"><i class="fa fa-plus"></i> Add
            Internal
            User</a>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="input-group search-box">
            <input type="text" [(ngModel)]="searchKey" class="form-control search-input"
              placeholder="Search this content">
            <div class="input-group-append">
              <button class="btn btn-info" type="button" (click)="onSearch()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <span id="responseText"></span>
      <table class="table table-striped  table-sm row-border hover" *ngIf="total_records > 0">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <!-- <th>IdNumber</th> -->
            <th>Store</th>
            <th>Roles</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.firstname}} {{item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile}}</td>
            <!-- <td>{{item.id_number}}</td> -->
            <td>{{item.store.name}}</td>
            <td>{{item.role}}</td>
            <td>{{(item.active_status)?'Active':'Inactive'}}</td>
            <td>

              <div class="float-right" *ngIf="!(item.email == currentUser.user.email)">
                <button type="button" class="btn btn-xs btn-warning" title="Edit this user details"
                  style="margin-right: 5px" (click)="onEdit(item)"> <i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-xs btn-danger" title="Trash this user details"
                  (click)="onDelete(item)"> <i class="fa fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row" *ngIf="total_records > 0">

        <div class="col-sm-6">
          <span>showing {{((current_page-1)*page_size) + 1}} to {{current_page*page_size}} of {{total_records}}</span>
        </div>

        <nav aria-label="..." class="col-sm-6">
          <ul class="pagination">
            <li class="page-item {{(current_page == 1)? 'disabled': ''}}">
              <a class="page-link" (click)="loadPage(1)" tabindex="-1">First</a>
            </li>
            <li class="page-item {{(current_page == 1)? 'disabled': ''}}">
              <a class="page-link" (click)="loadPage(current_page-1)" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link">{{current_page}}</a>
            </li>

            <li class="page-item {{(current_page == total_pages)? 'disabled': ''}}">
              <a class="page-link" (click)="loadPage(current_page+1)" tabindex="-1">Next</a>
            </li>
            <li class="page-item {{(current_page == total_pages)? 'disabled': ''}}">
              <a class="page-link" (click)="loadPage(total_pages)" tabindex="-1">Last</a>
            </li>

          </ul>
        </nav>
      </div>

      <div *ngIf="total_records == 0">
        <div class="alert alert-lg alert-warning">No data available</div>
      </div>

    </div>
  </div>
</block-ui>
