<block-ui>

  <body class="login-body">

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="login-panel panel panel-default" style="border-color: #0d98ba;">
            <div class="panel-heading" con>
              <img src="./assets/images/LogoLogin.jpg" alt="Login Image">

            </div>
            <div class="panel-body">

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <fieldset>
                  <h4 style="text-align: center">Login to access Dashboard</h4>
                  <div class="form-group">
                    <div class="group">
                      <input type="text" formControlName="username" placeholder="Email" /><span
                        class="highlight"></span><span class="bar"></span>
                    </div>
                  </div>
                  <div class="form-group">

                    <div class="group">
                      <input type="password" formControlName="password" placeholder="Password" /><span
                        class="highlight"></span><span class="bar"></span>
                    </div>


                  </div>
                  <div class="form-group">

                    <div class="group">
                      <p style="text-align: center">Email and Password are required</p>
                    </div>
                  </div>


                  <div class="form-group row">
                    <div class="col-sm-1 "></div>
                    <button class="btn btn-lg btn-primary col-sm-4 ">Log in</button>
                    <div class="col-sm-1 "></div>
                    <a routerLink="" class="btn btn-link col-sm-5" (click)="forgotPass()"
                      style="margin-bottom:10px; cursor: pointer;">Forgot password?</a>

                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</block-ui>
