<div class="wrapper">
  <nav id="sidebar" *ngIf="currentUser">
    <div class="sidebar-header"> <a class="nav-link sales-link" routerLink="/dashboard">
        <img src="./assets/images/DashboardLogo.png" /></a>
    </div>
    <div class="container demo d-none d-md-block"></div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <a class="nav-link sales-link" routerLink="/dashboard" title="Home"
          ng-class="{active: currentUrlPath == '#/dashboard'}" class="1{{currentUrlPath}}">
          <img src="./assets/images/icons/HomeIcon.png" alt="Home" /></a>
      </li>
      <li class="list-group-item"
        *ngIf="currentUser.user.role == 'Lipalater Super admin' || currentUser.user.role == 'Lipalater admin'">
        <a class="nav-link sales-link" routerLink="/onboarding" title="Onboarding">
          <img src="./assets/images/icons/OnboardingIcon.png" alt="Onboarding" /></a>
      </li>
      <li class="list-group-item">
        <a class="nav-link released-link" routerLink="/sales-menu" title="Sales">
          <img src="./assets/images/icons/PickupmenuIcon.png" alt="Sales" /></a>
      </li>
      <li class="list-group-item" *ngIf="currentUser.user.role == 'Lipalater Super admin'">
        <a class=" nav-link released-link" routerLink="/myaccount" title="My Account">
          <img src="./assets/images/icons/SettingIcon.png" alt="Myaccount" /></a>
      </li>

    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
      <div class="container-fluid topbar">

        <!--Top Bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div>
            <h2 class="store-name">{{currentUser.user.firstname}} @ {{currentUser.store.name}}</h2>
          </div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"
              *ngIf="currentUser.user.role == 'Store admin' || currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin'">
              <a class="top-link home-link" routerLink="/dashboard" title="Home"
                ng-class="{active: currentUrlPath == '#/dashboard'}">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link sales-link" routerLink="sales-menu/pending">
                <!-- <i class="fa fa-gift" style="color:#88b840"></i> -->
                Pending
              </a>
            </li>
            <li class="nav-item"
              *ngIf="currentUser.user.role == 'Store admin' || currentUser.user.role == 'Store user'">
              <a class="top-link notification-link" routerLink="sales-menu/collections">
                <!-- <i class="fa fa-cart-plus" style="color:#88b840"></i> -->
                Sales
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link released-link" routerLink="sales-menu/released">
                <!-- <i class="fa fa-sign-out" style="color:#88b840"></i>  -->
                Collected
              </a>
            </li>

            <li class="nav-item">
              <a class="top-link sales-link" routerLink="sales-menu/sales">
                <!-- <i class="fa fa-list" style="color:#88b840"></i>  -->
                All Stats
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link myaccount-link" routerLink="/myaccount">
                <!-- <i class="fa fa-user" style="color:#88b840"></i>  -->
                My Account
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link myaccount-link" routerLink="" (click)="logout()">
                <!-- <i class="fa fa-sign-out" style="color:#b84040"></i>  -->
                Logout
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="left-most"></div>
    <div class="side-menu"></div>

    <div class="row dynamicContent">

      <alert></alert>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<div class="row">
  <footer class="main-footer">
    <b>Version</b> 1.0.0
    <strong>Copyright &copy; lipalater.com 2019 .</strong> All rights reserved.
  </footer>
</div>
