<div class="wrapper">
  <nav id="sidebar" *ngIf="currentUser">
    <div class="sidebar-header"> <a class="nav-link sales-link" routerLink="/dashboard">
        <img src="./assets/logo.png" /></a>
    </div>
    <div class="container demo d-none d-md-block">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2" class="panel-group"
        *ngIf="currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin'">
        <ngb-panel class="panel-default">
          <ng-template ngbPanelTitle class="panel-heading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                aria-controls="collapseOne">
                Onboarding
              </a>
            </h4>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="/partners">Partners
                  <i class="fa fa-handshake-o" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="/stores">Stores
                  <i class="fa fa-city" style="color:#88b840"></i>
                  <i class="fa fa-industry" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link released-link" routerLink="/users">Store Users
                  <i class="fa fa-users" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item" *ngIf="currentUser.user.role == 'Lipalater Super admin'">
                <a class=" nav-link released-link" routerLink="/lipalater-users">Internal Users
                  <i class="fa fa-users" style="color:#88b840"></i>
                </a>
              </li>

            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>


      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2" class="panel-group">
        <ngb-panel class="panel-default">
          <ng-template ngbPanelTitle class="panel-heading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                aria-controls="collapseOne">
                Sales Menu
              </a>
            </h4>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="/pending">Pending
                  <i class="fa fa-gift" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="/collections">Item Pickup
                  <i class="fa fa-cart-plus" style="color:#88b840"></i>
                </a>
              </li>


              <li class="list-group-item">
                <a class="nav-link released-link" routerLink="/released">Collected Items
                  <i class="fa fa-sign-out" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link released-link" routerLink="/sales">All Sales
                  <i class="fa fa-list" style="color:#88b840"></i>
                </a>
              </li>
            </ul>
          </ng-template>
          <ng-template ngbPanelTitle class="panel-heading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="">
                Navigation
              </a>
            </h4>
          </ng-template>
        </ngb-panel>


      </ngb-accordion>


      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2" class="panel-group">
        <ngb-panel class="panel-default">
          <ng-template ngbPanelTitle class="panel-heading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                aria-controls="collapseOne">
                Supermarkets
              </a>
            </h4>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">

              <li class="list-group-item"
                *ngIf="currentUser.user.role == 'Lipalater_cro' || currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin'">
                <a class="nav-link sales-link" routerLink="/shoppers">Shoppers
                  <i class="fa fa-shopping-basket" style="color:#88b840"></i>
                </a>
              </li>
              <li class="list-group-item">
                <a class="nav-link sales-link" routerLink="/invoicing">Invoicing
                  <i class="fa fa-list" style="color:#88b840"></i>
                </a>
              </li>



            </ul>
          </ng-template>
          <ng-template ngbPanelTitle class="panel-heading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="">
                Navigation
              </a>
            </h4>
          </ng-template>
        </ngb-panel>


      </ngb-accordion>
      <hr />
    </div><!-- container -->
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
      <div class="container-fluid topbar">
        <button type="button" id="sidebarCollapse" class="btn"
          style="background: #7386D5; color:white; margin-left: -60px">
          <i class="fa fa-angle-double-left"></i>
          <i class="fa fa-angle-double-right"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-align-justify"></i>

        </button>
        <!--navbar-toggler-icon -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div>
            <h2 class="store-name">{{currentUser.user.firstname}} @ {{currentUser.store.name}}</h2>
          </div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="top-link home-link" routerLink="/dashboard">
                <i class="fa fa-home" style="color:#88b840"></i> Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link sales-link" routerLink="/pending">
                <i class="fa fa-gift" style="color:#88b840"></i> Pending
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link notification-link" routerLink="/collections">
                <i class="fa fa-cart-plus" style="color:#88b840"></i> Item Pickup
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link released-link" routerLink="/released">
                <i class="fa fa-sign-out" style="color:#88b840"></i> Collected
              </a>
            </li>

            <li class="nav-item">
              <a class="top-link sales-link" routerLink="/sales">
                <i class="fa fa-list" style="color:#88b840"></i> Sales
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link myaccount-link" routerLink="/myaccount">
                <i class="fa fa-user" style="color:#88b840"></i> My Account
              </a>
            </li>
            <li class="nav-item">
              <a class="top-link myaccount-link" routerLink="" (click)="logout()">
                <i class="fa fa-sign-out" style="color:#b84040"></i> Logout
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="row dynamicContent">

      <alert></alert>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<div class="row">
  <footer class="main-footer">
    <b>Version</b> 1.0.0
    <strong>Copyright &copy; lipalater.com 2019 .</strong> All rights reserved.
  </footer>
</div>
