<block-ui>
  <div class="box box-primary">
    <div class="box-body">
      <div widget class="card border-0 box-shadow">
        <div *ngIf="!fsubmitted">

          <div class="row form-heading">
            <div class="col-md-1"></div>
            <h4 class="col-md-11">Initiate Pickup by Customer</h4>
          </div>
          <div class="row">


            <div class="col-md-1"></div>
            <form [formGroup]="pickupForm" (ngSubmit)="onSubmit(pickupForm)" class="col-md-11 form-horizontal">

              <fieldset>
                <p>
                  Enter the customer id number. If we find a pending item for pick-up,we will send a verification
                  code to the customer's registered mobile number. The verification code will be required to complete
                  the pickup.
                </p>
                <div class="form-group">
                  <label> ID Number</label>

                  <input formControlName="idNumber" class="form-control validation-field" placeholder="Id Number"
                    type="text">
                  <small class="text-danger"
                    *ngIf="pickupForm.get('idNumber').touched && pickupForm.get('idNumber').hasError('required')">Id
                    number is
                    required</small>
                </div>
                <label> Customer Details</label>
                <p *ngIf="rsubmitted">Names: {{user_collecting}} </p>
                <p *ngIf="rsubmitted">Mobile: {{userMobileNumber}}</p>

                <p *ngIf="rsubmitted">
                  A verification code has been sent to {{userMobileNumber}}. Input it below to complete the pickup
                  process.
                </p>

                <div class="form-group" *ngIf="!rsubmitted">
                  <button class="btn btn-block btn-primary" (click)="getVerificationCode(pickupForm)">Generate
                    Code</button>
                </div>
                <div class="form-group" *ngIf="rsubmitted">
                  <label> Verification Code </label>

                  <input formControlName="verificationCode" class="form-control validation-field"
                    placeholder="Verification Code" type="text">
                  <small class="text-danger"
                    *ngIf="pickupForm.get('verificationCode').touched && pickupForm.get('verificationCode').hasError('required')">Code
                    is
                    required</small>


                </div>

                <div class="form-group" *ngIf="rsubmitted">
                  <label> Select Items </label>

                  <table class="table table-striped  table-sm row-border hover">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Customer</th>
                        <th>Item</th>
                        <th>Pickup type</th>
                        <th>Store</th>
                        <th>Date Released</th>
                        <th>Status</th>
                        <th>Item Code</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of customerItems; let i = index" id={{item.id}}>
                        <td><input type="checkbox" value="{{item.id}}" (change)="itemSelected($event)" /> </td>
                        <td>{{item.customer_names}}</td>
                        <td>{{item.item_description}}</td>
                        <td>{{(item.pick_up_type =='store_pickup')?'customer pick up':'lipalater pick up'}}</td>
                        <td>{{item.store}}</td>
                        <td>{{item.created_at | date}}</td>
                        <td>{{item.status}}</td>
                        <td> <input id="{{item.id}}" (mouseout)="itemCodeValues($event)" placeholder="Item Code (IMEI)"
                            type="text"></td>

                        <!--[readonly]="isCodeReadOnly()"-->

                      </tr>
                    </tbody>
                  </table>


                </div>


                <div class="form-group" *ngIf="rsubmitted">
                  <label> Pick up notes </label>
                  <textarea formControlName="pickupNotes" class="form-control validation-field"
                    placeholder="Pickup Notes"></textarea>



                </div>

                <div class="form-group" *ngIf="rsubmitted">
                  <button [disabled]="!pickupForm.valid" class="btn btn-block btn-primary" type="submit">Complete
                    Pickup</button>
                </div>

                <div class="form-group" *ngIf="fsubmittedwitherrors">

                  <h3>Validation Failed</h3>

                  <div class="alert alert-md alert-danger">
                    Unable to validate code for that id number

                  </div>




                </div>

                <div class="form-group" *ngIf="fnopendingitems">

                  <h3>No pending Items</h3>

                  <div class="alert alert-md alert-danger">
                    We could not find a pending item with that id number. You can try again.

                  </div>
                </div>




              </fieldset>




            </form>
          </div>



        </div>


        <div class="panel-body" *ngIf="fsubmitted">
          <div>
            <div class="alert alert-lg alert-success">
              <h3>We have successfully saved the pickup <i class="fa fa-check"></i></h3>
              <p>
                <a class="btn btn-md btn-success" routerLink="/collections/create"> Next Customer Pickup
                </a>
              </p>
              <p>
                <a class="btn btn-md btn-success" routerLink="/collections/lipalater"> Next Lipalater Pickup
                </a>
              </p>
              <p>
                <a class="btn btn-md btn-success" routerLink="/sales-menu/released"> View Released Items
                </a>
              </p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</block-ui>
