<div class="box box-primary">    
  <div class="box-body">
    <div id ="div-dashboard">
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">All Sales</h4>
            </div>

            <div class="card-body">         
              <table class="table table-striped">
                <thead>
                  <tr  class="table-primary"><th>Applied</th><th>400000</th></tr>
                  <tr  class="table-info"><th>Released</th><th>200000</th></tr>
                  <tr  class="table-success"><th>Collected</th><th>500000</th></tr>
                </thead>
                
                  <tr class="table-secondary"><th>Total</th><th>1100000</th></tr>
             
              </table>            
              <button type="button" class="btn btn-lg btn-block btn-primary">View List</button>
            </div>

          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Newly Released</h4>
            </div>
            <div class="card-body">            
              <table class="table table-hover">
                <tbody>
                  <tr><th>Jackson K</th><th>Dining Table</th></tr>
                  <tr><th>Titus Kivite</th><th>Sams TV</th></tr>
                  <tr><th>Purity Maina</th><th>Bean Bag</th></tr>
                </tbody>
               
                  <tr class="table-secondary"><th>Total Items</th><th>15</th></tr>
               
              </table>
              <button type="button" class="btn btn-lg btn-block btn-primary">View List</button>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Item Stats</h4>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr><th>TVs</th><th>21</th></tr>
                  <tr><th>Phones</th><th>10</th></tr>
                  <tr><th>Home Theater</th><th>17</th></tr>
                </thead>
             
                  <tr class="table-secondary"><th>Total Items</th><th>15</th></tr>
               
              </table>           
               <button type="button" class="btn btn-lg btn-block btn-primary">View List</button>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>