<div class="box box-primary">
  <div class="box-body">
    <div class="row partner-graph">

      <div class="col-sm-6"> <canvas #lineChart>{{ chart }}</canvas></div>
      <div class="col-sm-6"> <canvas #lineChart2>{{ chart2 }}</canvas></div>
      <!-- <div *ngIf="!loadedSalesByNumber" class="col-sm-6"> <img src="../../../assets/loading.gif" /> loading chart</div>
      <div *ngIf="loadedSalesByValue" class="col-sm-6"> <canvas id="lineChart2"></canvas></div>
      <div *ngIf="!loadedSalesByValue" class="col-sm-6"> <img src="../../../assets/loading.gif" /> loading chart</div> -->
    </div>
  </div>
</div>
<div class="box box-primary">
  <div class="box-body">


    <div class="row mb-3"
      *ngIf="currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin'">
      <span class="dash-header">
        Onboarding Stats
      </span>
    </div>



    <div class="row mb-3"
      *ngIf="loadedOnboarding && (currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin')">

      <a routerLink="/partners" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
            <div class="rotate">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Partners</h6>
            <h1 class="display-4">{{partners}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/stores" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card text-white bg-primary h-100">
          <div class="card-body bg-primary">
            <div class="rotate">
              <i class="fa fa-list fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Stores</h6>
            <h1 class="display-4">{{stores}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/users" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card text-white bg-info h-100">
          <div class="card-body bg-info">
            <div class="rotate">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Store Users</h6>
            <h1 class="display-4">{{store_users}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/lipalater-users" class="col-xl-3 col-sm-6 py-2 custom-card">

        <div class="card text-white bg-dark h-100">
          <div class="card-body">
            <div class="rotate">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Internal Users</h6>
            <h1 class="display-4">{{internal_users}}</h1>
          </div>
        </div>

      </a>
    </div>
    <div class="row mb-3" *ngIf="!loadedOnboarding">
      <img src="../../../assets/loading.gif" /> Loading Onboarding Stats
    </div>
  </div>
</div>

<div class="box box-primary">
  <div class="box-body">
    <div class="row mb-3"
      *ngIf="currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin' || currentUser.user.role == 'Store admin' ">
      <span class="dash-header">
        Sales Stats
      </span>
    </div>

    <div class="row mb-3"
      *ngIf="loadedSales && (currentUser.user.role == 'Lipalater admin' || currentUser.user.role == 'Lipalater Super admin' || currentUser.user.role == 'Store admin')">
      <a routerLink="/released" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
            <div class="rotate">
              <i class="fa fa-user fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Items Picked</h6>
            <h1 class="display-4">{{collected_count}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/released" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card text-white bg-danger h-100">
          <div class="card-body bg-danger">
            <div class="rotate">
              <i class="fa fa-list fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Value Picked</h6>
            <h1 class="display-4">{{collected_value}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/pending" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card text-white bg-info h-100">
          <div class="card-body bg-info">
            <div class="rotate">
              <i class="fa fa-twitter fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Items Pending Pickup</h6>
            <h1 class="display-4">{{pending_count}}</h1>
          </div>
        </div>
      </a>
      <a routerLink="/pending" class="col-xl-3 col-sm-6 py-2 custom-card">
        <div class="card text-white bg-warning h-100">
          <div class="card-body">
            <div class="rotate">
              <i class="fa fa-share fa-4x"></i>
            </div>
            <h6 class="text-uppercase">Value Pending Pickup</h6>
            <h1 class="display-4">{{pending_value}}</h1>
          </div>
        </div>
      </a>
    </div>
    <div class="row mb-3" *ngIf="!loadedSales">
      <img src="../../../assets/loading.gif" /> Loading Onboarding Stats
    </div>

  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row mb-3">
          <span class="dash-header">
            Recently Added Items
          </span>
        </div>
        <div class="row mb-3" *ngIf="pending.length > 0">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Customer</th>
                <th>Store</th>
                <th>Amount</th>
                <th>Pickup type</th>
                <th>Date Added</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pending; let i = index" id={{item.id}}>

                <td>{{item.item_description}}</td>
                <td>{{item.customer_names}} </td>
                <!-- <td>{{item.customer_id_number}} </td>
              <td>{{item.customer_phone_number}}</td> -->
                <td>{{item.store}}</td>
                <td>{{item.buying_price}}</td>
                <td>{{(item.pick_up_type =='store_pick_up')?'customer pick up':'lipalater pick up'}}</td>
                <td>{{item.created_at | date: 'medium'}}</td>

              </tr>


            </tbody>
          </table>
        </div>
        <div class="row mb-3" *ngIf="pending.length == 0">
          <div>
            <div class="alert alert-lg alert-warning">No data available</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box box-primary">
      <div class="box-body">

        <div class="row mb-3">
          <span class="dash-header">
            Recently Collected Items
          </span>
        </div>
        <div class="row mb-3" *ngIf="collected.length > 0">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Customer</th>
                <th>item</th>
                <th>Colected By</th>
                <th>Store</th>
                <th>Date of Sale</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of collected; let i = index" id={{item.id}}>

                <td>{{item.customer_names}} </td>
                <td>{{item.item}}</td>
                <td>{{item.collected_by_name}} </td>
                <!--<td> Id: {{item.collected_by_id_number}}</td> -->
                <td>{{item.store}}</td>
                <td>{{item.created_at | date: 'medium'}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row mb-3" *ngIf="collected.length == 0">
          <div>
            <div class="alert alert-lg alert-warning">No data available</div>
          </div>

        </div>
      </div>
    </div>
  </div>



</div>
