<block-ui>
  <div class="box box-primary">
    <div class="box-body">
      <!-- <div class="row mb-4" *ngIf="currentActive === 'DISABLED'">
        <div class="col">
          <div class="card border-0 box-shadow" widget="">
            <div class="card-header transparent border-0 text-muted">
              <h5 class="mb-0">Access Denied</h5>
            </div>
            <div class="card-block pt-0 widget-body">
              <div class="row">
                <div class="col-xl-12">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> You Do not have access to this page.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div widget class="card border-0 box-shadow">
        <div id="cccform" class="container">
          <div class="row form-heading">
            <div class="col-md-1"></div>
            <h4 class="col-md-11">Initiate Pickup by Lipalater Staff</h4>
          </div>
          <hr>
          <div class="row">


            <div class="col-md-1"></div>
            <form [formGroup]="pickupForm" (ngSubmit)="onSubmit(pickupForm)" class="col-md-11 form-horizontal">

              <fieldset>
                <p>
                  Enter the lipalater staff id number. If we find a pending item for pick-up,we will send a verification
                  code to the staff's registered mobile number.
                </p>
                <div class="form-group">
                  <label> ID Number</label>

                  <input formControlName="idNumber" class="form-control validation-field" placeholder="Id Number"
                    type="text">
                  <small class="text-danger"
                    *ngIf="pickupForm.get('idNumber').touched && pickupForm.get('idNumber').hasError('required')">Id
                    number is
                    required</small>
                </div>
                <label> Pick up staff details</label>
                <p *ngIf="rsubmitted">Names: {{user_collecting}} </p>
                <p *ngIf="rsubmitted">Mobile: {{userMobileNumber}}</p>

                <p *ngIf="rsubmitted">
                  A verification code has been sent to {{userMobileNumber}}. Input it below to complete the pickup
                  process.
                </p>

                <div class="form-group" *ngIf="!rsubmitted">
                  <button class="btn btn-block btn-primary" (click)="getVerificationCode(pickupForm)">Generate
                    Code</button>
                </div>
                <div class="form-group" *ngIf="rsubmitted">
                  <label> Verification Code </label>

                  <input formControlName="verificationCode" class="form-control validation-field"
                    placeholder="Verification Code" type="text">
                  <small class="text-danger"
                    *ngIf="pickupForm.get('verificationCode').touched && pickupForm.get('verificationCode').hasError('required')">Code
                    is
                    required</small>


                </div>

                <div class="form-group" *ngIf="rsubmitted">
                  <label> Select Items </label>

                  <table class="table table-striped  table-sm row-border hover">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>Customer</th>
                        <th>Item</th>
                        <th>Pickup type</th>
                        <th>Store</th>
                        <th>Date Released</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of customerItems; let i = index" id={{item.id}}>
                        <td><input type="checkbox" value="{{item.id}}" (change)="itemSelected($event)" /> </td>
                        <td>{{item.customer_names}}</td>
                        <td>{{item.item_description}}</td>
                        <td>{{(item.pick_up_type =='store_pickup')?'customer pick up':'lipalater pick up'}}</td>
                        <td>{{item.store}}</td>
                        <td>{{item.created_at | date}}</td>
                        <td>{{item.status}}</td>
                        <td> <input id="{{item.id}}" (mouseout)="itemCodeValues($event)" placeholder="Item Code"
                            type="text"></td>

                        <!--[readonly]="isCodeReadOnly()"-->

                      </tr>
                    </tbody>
                  </table>


                </div>


                <div class="form-group" *ngIf="rsubmitted">
                  <label> Pickup Notes </label>
                  <textarea formControlName="pickupNotes" class="form-control validation-field"
                    placeholder="Pickup Notes"></textarea>



                </div>

                <div class="form-group" *ngIf="rsubmitted">
                  <button [disabled]="!pickupForm.valid" class="btn btn-block btn-primary" type="submit">Complete
                    Pickup</button>
                </div>

                <div class="form-group" *ngIf="fusernotfound">

                  <h3>Invalid Id number</h3>

                  <div class="alert alert-md alert-danger">
                    The Id number does not belong to a valid lipalater pick up staff. Or We could not find a pending
                    items for collection. You can try again.

                  </div>




                </div>

                <div class="form-group" *ngIf="fnopendingitems">

                  <h3>No pending Items</h3>

                  <div class="alert alert-md alert-danger">
                    There are no pending items for collection.
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

          <div class="panel-body" *ngIf="fsubmitted">

          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
